<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>XMPP</string>
		<key>ItemIconURL</key>
		<string>http://7xkohz.com1.z0.glb.clouddn.com/chat%403x.png</string>
		<key>ItemAddress</key>
		<string>URLScheme_floxmpp</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>MQTT</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/mqtt_log.png</string>
		<key>ItemAddress</key>
		<string>FLOMQTTViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>ReactNative</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/react.png</string>
		<key>ItemAddress</key>
		<string>ReactNative</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Weibo</string>
		<key>ItemIconURL</key>
		<string>weibo_icon</string>
		<key>ItemAddress</key>
		<string>SBIDWeiboTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>书签</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/bookmark-icon.png</string>
		<key>ItemAddress</key>
		<string>SBIDBookMarkTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>UIColor</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/New-Procreate-logo-icon.jpg</string>
		<key>ItemAddress</key>
		<string>FLOColorViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>系统声音</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/Volume-icon.gif</string>
		<key>ItemAddress</key>
		<string>FLOSystemSoundTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>系统字体</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/icon.png</string>
		<key>ItemAddress</key>
		<string>SBIDFontTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>字体大小</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/icon_fontsize.jpg</string>
		<key>ItemAddress</key>
		<string>FLOFontSizeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>调整字号</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/30.png</string>
		<key>ItemAddress</key>
		<string>FLOAdjustFontSizeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>扫一扫</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/20162395134.png</string>
		<key>ItemAddress</key>
		<string>FLOCodeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Touch ID</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/aca6182e57695911ab7eef6280c6858c.png</string>
		<key>ItemAddress</key>
		<string>FLOTouchIDViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>百度地图</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/0c10323e-bc83-4c1f-b3a5-6a8420d8621e.png</string>
		<key>ItemAddress</key>
		<string>PresentFLOBDMapViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Force Touch</string>
		<key>ItemIconURL</key>
		<string>http://7xkohz.com1.z0.glb.clouddn.com/Force-Touch.jpg</string>
		<key>ItemAddress</key>
		<string>Force_Touch</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>通知</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/APNS_Logo.png</string>
		<key>ItemAddress</key>
		<string>SBIDNotificationViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>瀑布流</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/5788ae31a8af5.png</string>
		<key>ItemAddress</key>
		<string>FLOWaterFallViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Gif</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/images.png</string>
		<key>ItemAddress</key>
		<string>FLOGifImageViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>接口测试</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/icon_api.png</string>
		<key>ItemAddress</key>
		<string>SBIDNetWorkTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>下载</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/7ia6qdM9T.png</string>
		<key>ItemAddress</key>
		<string>FLODownloadTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>流媒体</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/tvset.png</string>
		<key>ItemAddress</key>
		<string>FLOMediaAddressTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>排序</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/sortdescend.png</string>
		<key>ItemAddress</key>
		<string>SBIDSortViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>编辑器</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/accessories-text-editor-icon.png</string>
		<key>ItemAddress</key>
		<string>FLORichTextEditorViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>文件夹</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/icon_floder.png</string>
		<key>ItemAddress</key>
		<string>FLOShareDirectoryTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>糗事百科</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/102_d7a4ae86f7a8ac41f7005f6d43e2bb3e_con.png</string>
		<key>ItemAddress</key>
		<string>FLOQSBKTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>微信表情</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/1-1509141506030-L.png</string>
		<key>ItemAddress</key>
		<string>FLOShareEmotionViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>网易视频</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/9691123276.png</string>
		<key>ItemAddress</key>
		<string>FLONETEASEVideoViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>相机</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/ios-9-camera-icon-9.jpg</string>
		<key>ItemAddress</key>
		<string>PresentFLOCameraViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>算法</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/icon_algorithm.png</string>
		<key>ItemAddress</key>
		<string>FLOAlgorithmViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>待办事项</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/icon_work_list.png</string>
		<key>ItemAddress</key>
		<string>PresentFLOWorkListViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>我的音乐</string>
		<key>ItemIconURL</key>
		<string>http://oe63fs3d3.bkt.clouddn.com/itunes-logo-png-transparent.png</string>
		<key>ItemAddress</key>
		<string>FLOMusicViewModel</string>
	</dict>
</array>
</plist>
