<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>XMPP</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac3d48f126.png</string>
		<key>ItemAddress</key>
		<string>URLScheme_floxmpp</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Weibo</string>
		<key>ItemIconURL</key>
		<string>weibo_icon</string>
		<key>ItemAddress</key>
		<string>SBIDWeiboTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>百度地图</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda71dd5e676.png</string>
		<key>ItemAddress</key>
		<string>PresentFLOBDMapViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>书签</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac32adc64e.png</string>
		<key>ItemAddress</key>
		<string>SBIDBookMarkTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>UIColor</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac32af0434.png</string>
		<key>ItemAddress</key>
		<string>FLOColorViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>UIFont</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac38594ee4.png</string>
		<key>ItemAddress</key>
		<string>SBIDFontTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>字体大小</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac3859ff3d.png</string>
		<key>ItemAddress</key>
		<string>FLOFontSizeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>调整字号</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda74b02c0ee.png</string>
		<key>ItemAddress</key>
		<string>FLOAdjustFontSizeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Force Touch</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac385c9db2.png</string>
		<key>ItemAddress</key>
		<string>Force_Touch</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Touch ID</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda9a8131b17.png</string>
		<key>ItemAddress</key>
		<string>FLOTouchIDViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>扫一扫</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda9c02d4c58.png</string>
		<key>ItemAddress</key>
		<string>FLOCodeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>系统声音</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/02/5bdbc2348cfd8.png</string>
		<key>ItemAddress</key>
		<string>FLOSystemSoundTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>相机</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda71dd7dd5c.png</string>
		<key>ItemAddress</key>
		<string>PresentFLOCameraViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>相册</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/02/5bdbc23497bf3.png</string>
		<key>ItemAddress</key>
		<string>FLOWaterFallViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Gif</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac385cbbd2.png</string>
		<key>ItemAddress</key>
		<string>FLOGifImageViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>微信表情</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda71ddc75f8.png</string>
		<key>ItemAddress</key>
		<string>FLOShareEmotionViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>下载</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac32af004b.png</string>
		<key>ItemAddress</key>
		<string>FLODownloadTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>文件夹</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/02/5bdbab8477484.png</string>
		<key>ItemAddress</key>
		<string>FLOShareDirectoryTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>待办事项</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac3d48586d.png</string>
		<key>ItemAddress</key>
		<string>PresentNavigationControllerFLOWorkListViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>这就是命</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac3d45b864.png</string>
		<key>ItemAddress</key>
		<string>FLORandomListViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>通知</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda71de06272.png</string>
		<key>ItemAddress</key>
		<string>SBIDNotificationViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>算法</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdacdb297896.png</string>
		<key>ItemAddress</key>
		<string>FLOAlgorithmViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>接口测试</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac385e062a.png</string>
		<key>ItemAddress</key>
		<string>SBIDNetWorkTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>编辑器</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac32af001e.png</string>
		<key>ItemAddress</key>
		<string>FLORichTextEditorViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>流媒体</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bdac385d66a6.png</string>
		<key>ItemAddress</key>
		<string>FLOMediaAddressTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>网易视频</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda71dde4d63.png</string>
		<key>ItemAddress</key>
		<string>FLONETEASEVideoViewModel</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>糗事百科</string>
		<key>ItemIconURL</key>
		<string>https://i.loli.net/2018/11/01/5bda71de243fd.png</string>
		<key>ItemAddress</key>
		<string>FLOQSBKTableViewController</string>
	</dict>
</array>
</plist>
