<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ItemName</key>
		<string>XMPPChat</string>
		<key>ItemIconURL</key>
		<string>http://7xkohz.com1.z0.glb.clouddn.com/chat%403x.png</string>
		<key>ItemAddress</key>
		<string>URLScheme_floxmpp</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>BookMark</string>
		<key>ItemIconURL</key>
		<string>http://files.softicons.com/download/social-media-icons/pretty-social-media-icons-by-custom-icon-design/png/256/Favorite.png</string>
		<key>ItemAddress</key>
		<string>SBIDBookMarkTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>UIFont</string>
		<key>ItemIconURL</key>
		<string>https://cdn.rawgit.com/dtgm/chocolatey-packages/09cd515153eed9aaa929eaf022889bcb8419d601/icons/nexusfont.png</string>
		<key>ItemAddress</key>
		<string>SBIDFontTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Weibo</string>
		<key>ItemIconURL</key>
		<string>weibo_icon</string>
		<key>ItemAddress</key>
		<string>SBIDWeiboTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>扫一扫</string>
		<key>ItemIconURL</key>
		<string>http://2.pic.pc6.com/up/2016-2/20162395134.png</string>
		<key>ItemAddress</key>
		<string>FLOCodeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Touch ID</string>
		<key>ItemIconURL</key>
		<string>http://img14.3lian.com/201506/24/aca6182e57695911ab7eef6280c6858c.png</string>
		<key>ItemAddress</key>
		<string>FLOTouchIDViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>百度地图</string>
		<key>ItemIconURL</key>
		<string>http://i-2.shouji56.com/2015/4/20/0c10323e-bc83-4c1f-b3a5-6a8420d8621e.png</string>
		<key>ItemAddress</key>
		<string>PresentFLOBDMapViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>SystemSound</string>
		<key>ItemIconURL</key>
		<string>http://mgip.biology.gatech.edu/images/icons/blue_velvet/128/sound.png</string>
		<key>ItemAddress</key>
		<string>FLOSystemSoundTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Force Touch</string>
		<key>ItemIconURL</key>
		<string>http://7xkohz.com1.z0.glb.clouddn.com/Force-Touch.jpg</string>
		<key>ItemAddress</key>
		<string>Force_Touch</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>FontSize</string>
		<key>ItemIconURL</key>
		<string>https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/edit-font-size-128.png</string>
		<key>ItemAddress</key>
		<string>FLOFontSizeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>UIColor</string>
		<key>ItemIconURL</key>
		<string>http://d.lanrentuku.com/down/png/1012/nx10-png/color_picker.png</string>
		<key>ItemAddress</key>
		<string>FLOColorViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>字体大小</string>
		<key>ItemIconURL</key>
		<string>http://www.ecommercejuice.com/wp-content/uploads/2012/08/ecommerce-font.png</string>
		<key>ItemAddress</key>
		<string>FLOAdjustFontSizeViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>Gif</string>
		<key>ItemIconURL</key>
		<string>http://a3.mzstatic.com/us/r30/Purple1/v4/88/2b/08/882b0807-82ce-cff9-d9c5-4e23a45b8009/icon128-2x.png</string>
		<key>ItemAddress</key>
		<string>FLOGifImageViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>NetWork</string>
		<key>ItemIconURL</key>
		<string>http://icons.iconseeker.com/png/fullsize/black-glossy/network-64.png</string>
		<key>ItemAddress</key>
		<string>SBIDNetWorkTableViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>瀑布流</string>
		<key>ItemIconURL</key>
		<string>http://www.lingyun.net/Uploads/2016-07-15/5788ae31a8af5.png</string>
		<key>ItemAddress</key>
		<string>FLOWaterFallViewController</string>
	</dict>
	<dict>
		<key>ItemName</key>
		<string>流媒体</string>
		<key>ItemIconURL</key>
		<string>http://www.wyke47.com/Images/tvset.png</string>
		<key>ItemAddress</key>
		<string>FLOMediaAddressTableViewController</string>
	</dict>
</array>
</plist>
